.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin-bottom: 30px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: MoveUpDown 5s ease-in-out infinite;
  }
}

.App-header {
  background-color: #FDF7E9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #55522F;
  padding-left: 50px;
}

.App-link {
  color: #61dafb;
}

label {
  border-radius: 20px;
  background-color: #55522F;
  padding: 8px 25px;
  color: #FFF;
  margin-top: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes MoveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
}